.kt_margin_bottom{
    margin-bottom: 15px;
}


.wpb_el_type_kt_heading.vc_shortcode-param{
    background-color: #e6e6e6;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    text-transform: uppercase;
}
.vc_edit-form-tab .wpb_el_type_kt_heading.vc_shortcode-param:first-child{
    margin-top: 0;
}

.vc_shortcode-param .chosen-container{
    width: 100%!important;
}
.vc_shortcode-param .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: auto!important;
}
